body {
	background-color: #f5f5f2;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.container, .results{
	background-color: white;
	width: 30%;
	margin: auto;
	padding: 15px;
	text-align: left;
}

.results {
	font-size: 14px;
}

.image {
	float: left;
	padding-right: 10px;
}

input {
	color: gray;
	border: 1px solid #CCD5B4;
	width: 90%;
	padding: 5px;
	border-radius: 2px;
}

audio {
	width: 60%;
	text-align: right;
}